*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    overflow: hidden;
    background-color: #5D63E2;
    padding: 10px 10px;
}

hr{
    color: #5D63E2;
    background-color: #5D63E2;
    width: 100%;
}

.header a{
    float: left;
    color: #fefae0;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
}

.header a.logo img{ /*draw the logo by yourself*/
    width: 30px;
    height: auto;
}

.header a.active{
    background-color: #010104;
    color: #5D63E2;
}

.header-right{
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right{
        float: none;
    }
}

.jumbotron {
    background-image: url('elfinsaddlee.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

.btn-primary,
.btn-success{
    background-color: #010104;
    border-color: #010104;
    color: #5D63E2;
}


footer {
    background-color: #010104;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
}
.custom-paragraph {
    color: #1b2727;
}